<div> 
    <div class="container mt-5">
        <h2 class="text-center">Account Information</h2>
        <div class="mx-auto bg-light text-dark rounded-3" style="padding: 30px">
            <!-- <div>
                <button type="button" class="btn btn-warning" (click)="toggleAddForm()">Add New User</button>
                <div class="card" *ngIf="toggleAdd">
                    <div class="card-header">New User</div>
                    <div class="card-body">
                        <form #myFormTemplate="ngForm" (ngSubmit)="addAccount()">
                            <div class="mb-3 mt-3">
                                <label for="username" class="form-label">Username:</label>
                                <input type="text" 
                                       class="form-control" 
                                       id="username" 
                                       placeholder="Enter username" 
                                       name="userName"
                                       required #myUserName="ngModel"
                                       [(ngModel)]="newAccount.username">
                                <div *ngIf="!myUserName.valid" class="small text-danger">Username requested!</div>
                            </div>
                            <div class="mb-3">
                                <label for="pwd" class="form-label">Password:</label>
                                <input type="password" 
                                       class="form-control" 
                                       id="pwd" 
                                       placeholder="Enter password" 
                                       name="userPswd"
                                       required #myPwd="ngModel"
                                       [(ngModel)]="newAccount.password">
                                <div *ngIf="!myPwd.valid" class="small text-danger">Username requested!</div>
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="name" class="form-label">Full Name:</label>
                                <input type="text" 
                                       class="form-control" 
                                       id="name" 
                                       placeholder="Enter fullname" 
                                       name="userfullName"
                                       required #myName="ngModel"
                                       [(ngModel)]="newAccount.fullName">
                                <div *ngIf="!myName.valid" class="small text-danger">Username requested!</div>

                            </div>
                            <div class="mb-3 mt-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="text" 
                                       class="form-control" 
                                       id="email" 
                                       placeholder="Enter username" 
                                       name="userEmail"
                                       [(ngModel)]="newAccount.email">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="role" class="form-label">Select your position:</label>
                                <select class="form-select" id="role" name="userRole" required>
                                  <option></option>
                                  <option>1</option>
                                  <option>2</option>
                                </select>
                            </div>
                            <div class="card-footer">
                                <button [disabled]="!myFormTemplate.valid" type="submit" class="btn btn-success">ADD</button>
                            </div>
                          </form>
                    </div>
                </div>
            </div> -->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Role ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let account of allAccount">
                        <td>{{ account.userID }}</td>
                        <td>{{ account.username }}</td>
                        <td>{{ account.password }}</td>
                        <td>{{ account.fullName }}</td>
                        <td>{{ account.email }}</td>
                        <td>{{ account.role_id }}</td>
                        <!-- Delete button -->
                        <!-- <td>
                            <button type="button" 
                                    class="btn btn-warning" 
                                    (click)="goToEditBook(account.userId)">
                                    <i class="material-icons">edit</i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning" (click)="deleteAccount(account.userId)">
                                <i class="material-icons">delete</i></button>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>    
    </div>
</div>
