<div class="container">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-6">
                <h1><strong>Information</strong><br></h1>
                <div class="table-responsive">
                <table class="table table-user-information">
                    <tbody>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                    User ID                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{ newAccount.userID }}     
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                    Username                                                
                                </strong>
                                
                            </td>
                            <td class="text-primary">
                                {{ newAccount.username}} 
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                    Password                                               
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{ newAccount.password }}  
                            </td>
                        </tr>
    
                        <tr>    
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user  text-primary"></span>    
                                    Full Name                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{ newAccount.fullName}}     
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                    Email                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{ newAccount.email }}  
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-eye-open text-primary"></span> 
                                    Role                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                Manager
                            </td>
                        </tr>
                          
                    </tbody>
                </table>
                </div>
        </div>
    </div>
    </div>
    