<form (ngSubmit)="validateUser()" class="form-container text-center">
    <div class="fw-bolder mb-4 text-center">Login
        <div class="text-warning">{{ errorMessage }}</div>
    </div>

    <div class="card-body">
<div class="mb-3 mt-3">
        <label for="username" class="form-label">Username:</label>
        <input 
            type="text" 
            class="form-control" 
            id="username" 
            placeholder="Enter username" 
            name="userName" 
            required
            #myUserName="ngModel" 
            [(ngModel)]="newUser.username">
        <div *ngIf="!myUserName.valid" class="small text-danger">Username requested!</div>
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Password:</label>
        <input 
            type="password" 
            class="form-control" 
            id="pwd" 
            placeholder="Enter password" 
            name="userPswd" required
            #myPwd="ngModel" 
            [(ngModel)]="newUser.password">
        <div *ngIf="!myPwd.valid" class="small text-danger">Username requested!</div>
    </div>
    <div>
        <!-- <label for="role" class="form-label">Role:</label>
        <input 
            type="text" 
            class="form-control" 
            id="role" 
            placeholder="Enter role" 
            name="userRole" required
            #myRole="ngModel" 
            [(ngModel)]="newUser.role_id">
        <div *ngIf="!myRole.valid" class="small text-danger">Role requested!</div> -->

        <label for="role" class="form-label">Role:</label>
        <select class="form-select" id="role" [(ngModel)]="newUser.role_id" name="role-id">
            
            <!-- <input id="role" class="form-control" hidden="hidden" placeholder="select role" name="userRole" [(ngModel)]="newUser.role_id"> -->
            <option value="0"></option>
            <option value="1">Manager</option>
            <option value="2">Employee</option>
        </select>
    </div>
    </div>
    
    <div class="card-footer">
        <button type="submit" class="btn btn-warning">LOGIN</button>
    </div>
     <a id="reset" class="text-decoration-none" routerLink="forgot-password">Forgot Password?</a>
</form>

